.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.centerText {
    text-align: center;
}

.top-margin-neg10 {
    margin-top: -10px;
}

.top-margin-0 {
    margin-top: 0px;
}

label {
    margin-bottom: 8px;
}